body {
  margin: 10px;
  background-color: #660000;
  color: #E9CA4C;
  font-family: arial, helvetica, sans-serif;
}

a:link {
  color: orange;
  text-decoration: none;
}

a:visited {
  color: red;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: underline;
}

a:active {
  color: yellow;
  text-decoration: underline;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #E9CA4C;
  margin: 1em 0;
  padding: 0;
}

.wrapper {
  margin-inline: auto;
}

.wrapper--narrow {
  max-width: 500px;img {
    max-width: 100%;
    height: auto;
  }
}

header {
  margin-block: 2rem;
  background-color: #880000;
  padding: 16px;
}

.layout-grid {
  display: flex;
  gap: 10px;
}

.sidebar {
  flex: 1;
  padding: 8px;
}

.content {
  flex: 5;
  padding: 8px;
}

img { 
    max-width: 100%; 
    height: auto; 
}

@media only screen and (max-width: 800px) {  
  .layout-grid {
    flex-direction:column;
  }
}
