html, body {
  margin: 0;
  //height: 100%;
  background-color: #660000;
  color: #E9CA4C;
}

a:link {
  color: orange;
  text-decoration: none;
}

a:visited {
  color: red;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: underline;
}

a:active {
  color: yellow;
  text-decoration: underline;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #E9CA4C;
  margin: 1em 0;
  padding: 0;
}

.container {
  height: 100%;
  
  .top {
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #880000;
    color: #E9CA4C;

    .logo img {
      padding: 16px;
      max-height: 100px;
      flex: 1;
      height: auto;
      width: auto;
    }
    
    .headline img {
      padding: 16px;
      max-height: 100px;
      flex: 1;
      height: auto;
      width: auto;
    }
    
    .search-box {
      padding: 0 16px;
      max-height: 100px;
      margin-top: 10px;
      flex: 1;
      height: auto;
      width: auto;
      //display: none;
    }
  }
  
  main {
    --gap: 1rem;
    display: flex;
    gap: var(--gap);
    overflow: hidden;
    
    aside {
      flex: 1;
      
      .menu {
        
      }
      
      .menu-item-summary {
        padding: 10px;
        cursor: pointer;
      }
      
      .menu-item-content {
        padding: 5px;
      }
    }
    
    article {
      flex: 6;
      
      .content {
        overflow: auto;
      }
      
      footer{
        
      }
    }
  }
}
